<h2 style="text-align: center;">Leaders!</h2>
<div *ngFor="let leader of leaders" style="width: 50%; margin: 0 auto;">
    <mat-card>
        <mat-card-title>{{leader.name}}</mat-card-title>
        <mat-card-content>
            <img src="{{leader.imageRef}}" height="100" width="100" style="float: left;"/>
            <mat-list>
                <mat-list-item>
                    <strong>Birthday: {{leader.birthday | date}}</strong>
                </mat-list-item>
                <mat-list-item>
                    <strong>Age: {{leader.age}}</strong>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <button mat-button (click)="addLeader()" style="margin: 0 auto;">Add Leader</button>
</div>