<!DOCTYPE html>
<html ng-app="pcBuildInterface">
<head>
    <title>Nightwarp Computers</title>
</head>
<body>
    <header class="container-fluid">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img class="img-responsive" style="margin: 0 auto;" title="HeadingImage" src="~/Content/Images/header.png" />
            </div>
        </div>
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="250">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img class="navbar-brand" title="ncLogo" src="~/Content/Images/logo.png" style="padding: 0px;" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/Order">Order</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="row">
        <div class="col-sm-12 menu">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/Order">Order</a>
        </div>
    </div>-->
    </header>
    <div class="container-fluid" ng-view>

    </div>
    <footer class="container-fluid footer">
        <h4>Nightwarp Computers</h4>
        <div>p: 435-512-8850</div>
        <div>e: <a href="mailto:NightwarpComputers@outlook.com">NightwarpComputers@outlook.com</a></div>
        <div>1358 W 1925 S</div>
        <div>Logan, UT 84321</div>
    </footer>

    <script src="https://code.angularjs.org/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/bootstrapJS")
    @Scripts.Render("~/bundles/NightwarpComputers")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
</body>
</html>