<!DOCTYPE html>
<html lang="en" ng-app="pcBuildInterface">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nighwarp Computers</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/Content/Images/logo.png" style="padding: 0px; height: 50px;" />Nightwarp Computers
            </a>
            <a class="btn btn-secondary" href="/Order">Order Now!</a>
            <!--<a class="btn btn-primary" href="#">Sign In</a>
            <a class="btn btn-secondary" href="#">Sign Up</a>
            <a class="btn btn-secondary" href="#">Cart</a>-->
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead text-white text-center" style="background: url('/Content/Images/bg-masthead.jpg') no-repeat center center;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Nightwarp Computers!</h1>
                    <h2 class="mb-5">Quality Custom PCs</h2>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid" ng-view>

    </div>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="/About">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/Contact">Contact</a>
                        </li>
                        <!--<li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>-->
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Nightwarp Computers 2018. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.angularjs.org/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    @Scripts.Render("~/JS")
    @Scripts.Render("~/NCAngular")
    @Styles.Render("~/CSS")
    @Styles.Render("~/Fonts")
</body>
</html>
