<!DOCTYPE html>
<html ng-app="pcBuildInterface">
<head>
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">NightWarpComputers</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/Order">Order</a></li>
                </ul>
            </div>
        </nav>
        <!--<div class="row">
            <div class="col-sm-12 menu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/Order">Order</a>
            </div>
        </div>-->
    </header>
    <div class="container-fluid" ng-view>

    </div>
    <footer class="container-fluid modal-footer" style="border-top: 1px solid black; text-align: center; bottom: 0px; margin-top: 100px;">
        <h4>Nightwarp Computers</h4>
        <p>p: 435-512-8850</p>
        <p>e: <a href="mailto:NightwarpComputers@outlook.com">NightwarpComputers@outlook.com</a></p>
        <p>1358 W 1925 S</p>
        <p>Logan, UT 84321</p>
    </footer>

    <script src="https://code.angularjs.org/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/NightwarpComputers")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
</body>
</html>