body {
    background-color: #575757;
    color: #ffffff;
}

div[id^="conf"] {
    font-weight: bold;
    font-style: italic;
}

label[for^="conf"] {
    text-align: right;
    font-weight: normal;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.footer {
    border-top: 1px solid black;
    text-align: center;
    margin-top: 250px;
}

.feeBreakdown {
    position: sticky;
    top: 25%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #3e3e42;
}

.sectionHeading {
    font-style: italic;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 15px;
}

.subHeading {
    font-style: italic;
    font-size: 17px;
    text-align: left;
    border-bottom: 1px solid black;
    margin: 5px;
}

.pageHeader {
    font-weight: bold;
    font-size: 30px;
    font: Cambria;
    text-align: center;
    padding-bottom: 25px;
}

.submit {
    background-color: #707070;
    color: #ffffff;
}
