body {
    background-color: #575757;
    color: #ffffff;
}

li {
    font-size: 15px;
}

    .menu > a {
        font-size: 20px;
        padding: 15px;
        color: #ffffff;
        display: inline-block;
        text-decoration: none;
        border: 1px hidden;
        border-radius: 8px;
    }

        .menu > a:hover {
            font-weight: bold;
            background-color: #4f3d3d;
        }

.mainImage {
    text-align: center;
    background-color: #797979;
    margin: 10px;
}

.feeBreakdown {
    position: sticky;
    top: 25%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #3e3e42;
}

.sectionHeading {
    font-style: italic;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 15px;
}

.subHeading {
    font-style: italic;
    font-size: 17px;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 5px;
}

.pageHeader {
    font-weight: bold;
    font-size: 30px;
    font: Cambria;
    text-align: center;
    padding-bottom: 25px;
}

.textImg {
    height: auto;
    width: 255px;
    max-width: 100%;
    float: left;
    padding: 10px;
}

.submit {
    background-color: #707070;
    color: #ffffff;
}
