<div class="row">
    <aside class="col-sm-2">
    </aside>
    <section class="col-sm-8">
        <div class="pageheader">
            <h1>{{message}}</h1>
        </div>
        <div>
            <div class="sectionHeading col-xs-12">Custom PCs For You</div>
            <img class="img-thumbnail col-xs-2" title="NightwarpLogo" src="~/Content/Images/main.jpg" />
            <p class="col-xs-10">
                Nightwarp Computers strives to provide a reliable service to anyone who desires a Custom PC. Whether you're a fellow custom PC enthusiast or simply looking for a powerful, yet affordable home computer, Nightwarp Computers is for you!
            </p>
        </div>
        <div>
            <div class="sectionHeading col-xs-12">Features</div>
            <div class="col-xs-12">
                <div class="col-sm-4">
                    <p class="subHeading">Order:</p>
                    <ul>
                        <li>Have compatible parts sent to you</li>
                        <li>Select Preferences on individual parts</li>
                        <li>Or.. let us do the work for you!</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p class="subHeading">Build:</p>
                    <ul>
                        <li>Send a link to a list</li>
                        <li>Select Preferences on individual parts</li>
                        <li>Can even ship to us or bring parts in person</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p class="subHeading">Order <b>and</b> Build:</p>
                    <ul>
                        <li>Use your own parts list link</li>
                        <li>Select Preferences on individual parts</li>
                        <li>Or.. let us do the work for you!</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="subHeading">Shipping:</p>
                    <ul>
                        <li>Build: We ship finished PC to you</li>
                        <li>Order: We ship compatible parts to you</li>
                        <li>Both: Order ships to us, we send finished PC to you!</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="subHeading">Hassle Free:</p>
                    <ul>
                        <li>Provide a price limit and expected use</li>
                        <li>No PC knowledge required</li>
                        <li>List contact information for full communication throughout the entire process!</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <aside class="col-sm-2">
    </aside>
    <!--Creator and Certified PC Technician, Mike Campbell, has over 6 years of PC building experience and is frequently used as a Custom PC consult.-->
</div>