<div class="main" name="homePage">
    <div class="row">
        <h1 class="pageHeader">{{message}}</h1>
    </div>
    <div class="row">
        <div class="sectionHeading">Custom PCs For You</div>
        <img class="textImg" title="NightwarpLogo" src="https://lh3.googleusercontent.com/WL2oPTn3ejgiEsr6mTD59NQ5OaaD9DM2LofxcfAD__xNHMuyHYSqU51j0SgD_YfqETQchXRD2bL9xqKk4NW1nH1V2vA5eLDLapKT8Fg15jnMuu0vps8peu8Vzl1wGWMeJn6a1YgontCwdflakV-n7f3dvFvAaYF0Wtrc3cyMxpjetQlvA0KfnvrG9fnYEV6ENnFfgJ8nUv2q6N9LPJ98k6LdDZoDXP6DTOU_3L6ElCBQFnmUPnX1cxZ-JErlKCT4vxamrvjUE38-S2D8TizkYnPdgT8MJGEVRlpaMHYCs900x-cAEuiUcizkOnyswBCaD-vDDakjtqa4b79HGDEEva0hObEknaFow-aWOuCN8A0AKwzBNOB9wJlon-HC2RDrbSMjrPFyABg0R2mWN6uq6EVmguw1frN43LWtmzgtcTOPQiQBQu3pogZTwLRlcSjS1G5vpCyhCJ7hY-Ze0i1f0lRIFjmNATDIphdnFQ_DV1XRxdPXaP-SNJOUptyXH58Lyw0MYN6cYrRbubba9lFh8P0Nr-UQd-TkiOJn_kAi-r2gcQyoU-7yLK8SQosVLePMu_cesJNwhmKXHD7pGaFvSTI7aJduwEXqce16Kew=w902-h586-no" />
        <p>
            Nightwarp Computers strives to provide a reliable service to anyone who desires a Custom PC. Whether you're a fellow custom PC enthusiast or simply looking for a powerful, yet affordable home computer, Nightwarp Computers is for you!
        </p>
    </div>
    <div class="row">
        <div class="sectionHeading">Features</div>
        <div class="grid">
            <div>
                <p class="subHeading">Order:</p>
                <ul>
                    <li>Have compatible parts sent to you</li>
                    <li>Select Preferences on individual parts</li>
                    <li>Or.. let us do the work for you!</li>
                </ul>
            </div>
            <div>
                <p class="subHeading">Build:</p>
                <ul>
                    <li>Upload a parts list</li>
                    <li>Send a link to a list</li>
                    <li>Select Preferences on individual parts</li>
                    <li>Can even ship to us or bring parts in person</li>
                </ul>
            </div>
            <div>
                <p class="subHeading">Order <b>and</b> Build:</p>
                <ul>
                    <li>Use your own parts list: Upload or Link</li>
                    <li>Select Preferences on individual parts</li>
                    <li>Or.. let us do the work for you!</li>
                </ul>
            </div>
        </div>
        <div class="grid">
            <div>
                <p class="subHeading">Shipping:</p>
                <ul>
                    <li>Build: We ship finished PC to you</li>
                    <li>Order: We ship compatible parts to you</li>
                    <li>Both: Order ships to us, we send finished PC to you!</li>
                </ul>
            </div>
            <div>
                <p class="subHeading">Hassle Free:</p>
                <ul>
                    <li>Provide a price limit and expected use</li>
                    <li>No PC knowledge required</li>
                    <li>List contact information for full communication throughout the entire process!</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Creator and Certified PC Technician, Mike Campbell, has over 6 years of PC building experience and is frequently used as a Custom PC consult.-->
</div>