<div class="pageHeader">
    <div class="main">
        @if (ViewBag.ConfirmMailSent && ViewBag.RequestMailSent)
        {
            <p>Order ID: @(ViewBag.RequestID) has been submitted for review.</p>
        }
        else if (ViewBag.RequestMailSent)
        {
            <p>Order ID: @(ViewBag.RequestID) has been submitted for review. However, the confirmation email failed on send to your provided address. Please save your Order ID for future references.</p>
            <p>If any changes are necessary to your provided email address, please email: <a href="mailto:NightwarpComputers@outlook.com">NightwarpComputers@outlook.com</a>.</p>
        }
        else
        {
            <h1>An Error has ocurred while processing your request. Please try again later!</h1>
        }
    </div>
</div>