<div class="pageHeader">
    <div class="main" ng-show="ViewBag.MailSent">
        <h1>Order has been submitted for review.</h1>
    </div>
    <div class="main" ng-hide="ViewBag.MailSent">
        <h1>An Error has ocurred while processing your request. Please try again later!</h1>
    </div>
</div>