<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h2 class="text-success">Order has been submitted successfully!</h2>
            <p>Order ID: <b><i>{{orderId}}</i></b> has been receieved. You will be receiving a confirmation email shortly at: <b>{{email}}</b> from "NightwarpComputers@outlook.com.</p>
            <p>If there are any questions, issues, changes, or concerns, please reply to this email immediately!</p>
            <b>Thank you!</b>
        </div>
    </div>
</section>