<section class="features-icons bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-success">Order has been submitted successfully!</h2>
        </div>
        <div class="row justify-content-center">
            <p>Order ID: <b><i>@(ViewBag.OrderId)</i></b> has been receieved. You will be receiving a confirmation email shortly at: <b>@(ViewBag.Email)</b> from "NightwarpComputers@outlook.com.</p>
            <p>If there are any questions, issues, changes, or concerns, please reply to this email immediately!</p>
        </div>
        <div class="row justify-content-center">
            <p><b>Thank you!</b></p>
        </div>
    </div>
</section>