<mat-toolbar class="nav-bar" role="heading">
	<a class="home" mat-button [disableRipple]="true" routerLink="home">
		<!-- <img class="logo" src="../../../assets/nightwarp.png" height="35" width="35" /> -->
		<nightwarp-logo></nightwarp-logo>
		<span class="title" title="Nightwarp">Nightwarp</span>
	</a>
	<div class="nav-buttons">
		<a mat-button routerLink="order">
			<i class="far fa-file-alt"></i>
			Order
		</a>
		<a mat-button routerLink="completed-builds">
			<i class="fas fa-desktop"></i>
			Completed Builds
		</a>
	</div>

	<span class="sign-in">
		<div *ngIf="!authService.LoggedIn">
			<a mat-flat-button color="accent" (click)="authService.signInWithGoogle()">
				<i class="fab fa-google"></i>
				Google
			</a>
			<a mat-flat-button color="primary" disabled>
				<i class="fab fa-facebook"></i>
				Facebook
			</a>
		</div>

		<div class="signed-in" *ngIf="authService.LoggedIn">
			<button mat-button [matMenuTriggerFor]="accountMenu">
				<img [src]="authService.User.photoUrl">
				<span>{{authService.User.name}}</span>
			</button>
			<mat-menu #accountMenu="matMenu">
				<button mat-menu-item (click)="authService.signOut()">
					<i class="fas fa-sign-out-alt"></i>
					Log Out
				</button>
			</mat-menu>
		</div>
	</span>
</mat-toolbar>
<router-outlet></router-outlet>