@import '../../styles/dark-theme.style.scss';
// @import '../../styles/light-theme.style.scss';

.nav-bar {
    height: 38px;
    padding: 5px 10px 5px 10px;
    width: 99;
    background-color: $navbarColor;

    i {
        color: white;
        padding: 5px;
        vertical-align: bottom;
    }

    .logo {
        float: left;

        img {
            height: 35px;
        }
    }

    .left {
        float: left;
    }
    .right {
        float: right;
    }

    ul {
        display: flex;
        margin: 1px;
        padding: inherit;
    }

    li {
        min-width: 100px;
        height: 100%;
        background-color:transparent;
        border-radius: 5px;
        list-style: none;
        text-align: center;
        margin: 0px 5px 0px 5px;
    }

    li:hover {
        background-color: #003b5c;
        border: 0.5px solid white;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
}