<div class="nav-bar">
    <div class="logo">
        <a routerLink="/home">
            <img src="../../../assets/20171004_001230.jpg" />
        </a>
    </div>
    <ul class="left">
        <li>
            <i class="fas fa-home"></i>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <i class="fas fa-question"></i>
            <a routerLink="/about">About</a>
        </li>
        <li>
            <i class="fab fa-wpforms"></i>
            <a routerLink="/order">Order</a>
        </li>
    </ul>
    <ul class="right">
        <li>
            <i class="far fa-user-circle"></i>
            <a href="/login">Login</a>
        </li>
        <li>
            <i class="far fa-arrow-alt-circle-up"></i>
            <a href="/signup">Sign Up</a>
        </li>
    </ul>
</div>